@media screen and ( max-width: 1200px )
  html 
    font-size: 12px
  .nav 
    &__item 
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav 
    display: none
  .hero 
    &__instagram 
      display: none
    &__content 
      margin-left: 0
  .row 
    flex-direction: column
    align-items: center
  .col
    &-50 
    width: 100%
    margin-bottom: 40px
  .card 
    margin-bottom: 6rem
  .projects
    padding-top: 2rem
    &__row
        max-width: 100%
        margin: auto
  .design 
    &__card 
      margin-bottom: 6rem
@media screen and ( max-width: 760px )
  .container 
    width: 90%
  .types 
    &__card 
      margin-bottom: 5rem
  .card 
    &__text 
      margin-left: 0
  .col-50
    width: 100%
  .projects
    padding-top: 2rem
        margin: auto
    &__swiper
      &-slide
        justify-content: flex-start
        margin-bottom: 2rem
        width: 100%
        &__heading
          font-size: 1.16rem
          margin-bottom: 0.8rem
  .swiper
    &-slide
      &__heading
        font-size: 1.1rem
        letter-spacing: 0.04rem
        margin: 1.2rem 0 1rem 0
      &__value
        letter-spacing: 0.04rem
      &__text
        flex-basis: 47.5%
  .design 
    background-color: $dark
    &__title 
      color: $light
    &__subtitle 
      color: $light
    &__pricetag 
      padding: 1.214rem 5rem 1.214rem 4rem
@media screen and ( max-width: 576px )
  html 
    font-size: 14px
  .contacts 
    &__phone 
      margin-right: 0
      color: $light
      text-decoration: none
    &__button 
      display: none
  .title 
    font-size: 1.64rem
    font-weight: normal
  .hero
    &::after
      display: none
    &__content 
      max-width: 22.86rem
    &__scroll-down 
      display: none
    &__text 
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button 
      display: block
      width: 100%
      margin-bottom: 1.85rem
  .projects
    padding-bottom: 0
  .control 
    background-color: $dark
    padding-top: 1px
    &__video 
      box-shadow: none
    &__section-title
      margin-top: 1rem
    &__text 
      color: $light
      font-size: 1rem
    &__form 
      flex-direction: column
    &__input-group--mb
      margin-bottom: 4.5rem
    &__policy-label 
      justify-content: start
    &__label 
      color: rgba(255, 255, 255, 0.5)
    &__input
      &::placeholder 
        color: $light
    &__policy-label 
      color: $light
    &__button 
      order: 4
      margin-top: 4.428rem
      margin-bottom: -6rem
      width: 100%
  .section 
    bottom: 36px 0
    &-title
      &__word 
        &::after
          display: none
    &__text
      max-width: 24rem
      margin-top: 2rem
      font-size: 1.167rem
      line-height: 158.48%
  .design
    padding-bottom: 0
  .footer
    background: $dark
    padding-top: 0
    padding-bottom: 1rem
    &__wrap
      margin-top: 0rem
      background-color: $dark
    &__input-group
      flex-basis: 100%
    &__policy
      flex-basis: auto
    &__button
      width: 100%
    &__menu
      display: none
    &__contacts
      margin-bottom: 1rem
    &__image
      margin-bottom: 0
    &__map
      margin-bottom: 2.6rem
      order: -1
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  